.ColourPreview {
  position: relative;
  display: grid;
  width: 100%;
  grid-template: repeat(2, 1fr) / 3fr 8fr;
}

.ColourPreview>div {
  background-size: cover;
  background-position: center;
}

.frontPreview {
  width: 100%;
  padding-top: 100%;
  grid-area: 1 / 2 / 3 / 3;
}

.ColourSelector {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 1000px;
}